DATABASE_URL="mysql://user:password@host:3306/internal"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
ZOHO_EMAIL="existing-var-see-send-consultation-action"
ZOHO_PASSWORD="existing-var-see-send-consultation-action"
UPLOADS_DIR="./uploads"
